@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
 }
 body{background-color: rgb(3, 27, 93);}
.container{
    display: flex;
    background-color: rgb(250, 244, 237);
    text-align: center;
    display:none;
    width: 100vw;
}
.container > div {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 2px 5px #eaeaea;
}
.container i{
    font-size: 25px;
    color:rgb(15, 0, 97);
}
.container a{
    color: rgb(80, 7, 175);
    padding: 10px 0 0;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    text-shadow: 3px 3px 3px #dfdddd;
}
.container a:hover{
    color: violet;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    position: static;
    top: 0%;
}
#chk-menu{
    display: none;
    }
#chk-menu:checked ~ .container{
    display: block;
    display: flex;
    flex-direction: column;
    }
.btn-menu{
     color: white;
    font-size:25px;
    width: 100%;
    cursor: pointer;
}
.btn-menu:hover{
    color:rgb(250, 244, 237) ;
}
/*banner*/
.slider{
    width: 100%;
    background-color:aliceblue;
    overflow: hidden;
}
.slider-ul{
    height: 500px;
    width: 400%;
    display: flex;
    animation: slide 30s infinite linear;
    border: 2px solid salmon;
}
.slider-li{
    height: 100%;
    width: 25%;
    border: 2px solid yellow;
}
.slider-li:nth-child(1){
    background-color: coral;
}
.slider-li:nth-child(2){
    background-color: darksalmon;
}
.slider-li:nth-child(3){
    background-color: red;
}
.slider-li:nth-child(4){
    background-color: darkred;
}
@keyframes slide{
    25%{
      transform: translateX(-100%);  
    }
    50%{
        transform: translateX(-200%);  
      }
    75%{
        transform: translateX(-300%);  
      }
    100%{
        transform: translateX(-400%);  
      }
}
@media screen and (min-width:800px){
    nav{
        display:flex;
        flex-direction: row;
    }
    .btn-menu{
        display: none;
    }
    .container{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
}
